<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <bean id="springCollections" class="com.mtsmda.springCore.SpringCollections" scope="singleton">
        <property name="listCountries">
            <list>
                <value>Moldova</value>
                <value>Russia</value>
                <value>France</value>
            </list>
        </property>

        <property name="footbalClubNames">
            <set>
                <ref bean="string1"/>
                <value>Real Madrid</value>
            </set>
        </property>

        <property name="abbreviationAndFullName">
            <map>
                <entry key="III" value="Ivanov Ivan Ivanovici"/>
                <entry key="SSS" value="Sergeev Serghei Sergheevici"/>
            </map>
        </property>

        <property name="dbProperties">
            <props>
                <prop key="dbName">mk</prop>
                <prop key="dbLogin">mk02593</prop>
                <prop key="dbPassword">mk051f2593</prop>
            </props>
        </property>
    </bean>

    <bean id="string1" class="java.lang.String">
        <constructor-arg value="Barcelona"/>
    </bean>

</beans>