<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Message</title>
    <style type="text/css">

        .message_personInfo{
            font-size: 17px;
            color: tomato;
        }

        .message_text{
            font-size: 14px;
            font-family: "Times New Roman";
        }

    </style>
</head>
<body style=" width: 100%; background-color: #eea236; color: white;">

<div style="width: 90%; margin: 0 auto;">
    <h1 style="text-align: center; font-size: 29px; color: green; font-weight: bold;">Subject this message - ${messageMail.mailSubject}</h1>

    <p style=" font-size: 19px; color: #5cb85c;">Message was send from ${messageMail.mailFrom} to ${messageMail.mailTo}</p>

    <p class="message_personInfo">This is message send ${messageMail.personName} with number phone - ${messageMail.phoneNumber}</p>

    <p class="message_text"><span>Message - </span>${messageMail.mailText}</p>

</div>
</body>
</html>