*{
    margin: 0;
    padding: 0;
}

textarea { resize: none; }

.required_field:before {
    content:"*";
    color:red;
}

.captchaImg{
    width: 175px;
    height: 25px;
}

.validationSuccess{
    border: 1px solid green;
    background-color: rgb(196, 242, 196);
}

.validationError{
    border: 1px solid red;
    background-color: rgb(249, 176, 176);
}

.lostChars{
    color: green;
    font-size: 14px;
}

.error{
    color: red;
    font-weight: bold;
}

.headerS{
    padding-top: 5px;
}

.languageImage{
    border: 1px solid #449d44;
}