*{
    margin: 0;
    padding: 0;
}

textarea { resize: none; }

.required_field:before {
    content:"*";
    color:red;
}

.captchaImg{
    width: 175px;
    height: 25px;
}

.validationSuccess{
    border: 1px solid green;
}

.validationError{
    border: 1px solid red;
}